{
  "printWidth": 160,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "insertPragma": false,
  "proseWrap": "never",
  "arrowParens": "avoid"
}
